<h1><%= @house.name %></h1>

<p>
  <strong>location:</strong>
  <%= @house.location %>
</p>

<ul>
  <div class="showchar">
  <% @characters.each do |character| %>
  <img src="<%= character.photo_url %>">
  <p><%= link_to character.name, character_path(character.house), class:'linkto' %></p>
  <% end %>
</div>
</ul>
<p><%= link_to "edit this house", edit_house_path(@house), class:'linkto' %></p>
<p><%= link_to 'delete this house', house_path(@house), method: :delete, data:{confirm: "Are you sure you want to delete this house?"}, class:'linkto' %></p>

<p><%= link_to 'back', houses_path, class:'linkto' %></p>
